[safe]
	directory = /storage/emulated/0/Download/Carai Agency/carai-ide-complete
	directory = /storage/emulated/0/Download/Carai Agency/UCI-Universal-Capability-Interface-main/UCI-Universal-Capability-Interface-main
	directory = /storage/emulated/0/Download/Carai Agency/UCI-Universal-Capability-Interface-main/UCI-Universal-Capability-Interface-main
[user]
	email = support.carai@gmail.com
	name = Carai868
